@import "Varibles.scss";
@import "day-mode.styles.scss";
.body {
  background: linear-gradient(to right, #141e30, #243b55);
}
#app {
  text-align: center;
  font-size: 10px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.image-enter-active,
.image-leave-active {
  transition: opacity 2s ease-out;
}

.image-enter,
.image-leave-to {
  opacity: 0;
}
.imageInput {
  width: 100%;
}
*:not(.particles) {
  z-index: 2;
}
.heading {
  font-size: 3rem;
  margin: 3rem 1rem;
  color: $flame;
  font-family: "Arima Madurai", cursive;
  transition: all 0.5s ease-out;
  @media (max-width: 600px) {
    & {
      font-size: 1.8rem;
    }
  }
}

.change-mode-btn {
  background: $sapphire;
  height: 50px;
  width: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: all 1.5s ease-out;
  &__toggle {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 1s ease-out;
  }
  @media (max-width: 500px) {
    height: 30px;
    width: 60px;
    padding: 5px;
    &__toggle {
      height: 20px;
      width: 20px;
    }
    .move {
      margin-left: 1.9rem;
    }
  }
}
.mode {
  position: absolute;
  top: 5px;
  right: 5px;
}
.move {
  margin-left: 3.2rem;
}
.night-toggle {
  background: #fff;
}
Ë‡* {
}
.particles {
  position: fixed;
  height: 100%;
  width: 100vw;
  z-index: 1;
}
