$black-olive: #353531ff;
$flame: #ec4e20ff;
$yellow-orange-color-wheel: #ff9505ff;
$spanish-blue: #2b50aa;
$majorelle-blue: #623ceaff;

$eerie-black: #272727ff;
$sapphire: #2b50aaff;
$orchid-crayola: #ff9fe5ff;
$pale-pink: #ffd4d4ff;
$non-photo-blue: #9bd1e5ff;
